***Write a program that asks the user for their name and age,then print sasentence like***

In [4]:
name=input("enter your name")
age=input("enter your age")
print(f"Hello {name}, you are {age} year old!" )

enter your nameAditya
enter your age21
Hello Aditya, you are 21 year old!

***Take two numbers as input from the user and print their sum,difference,product,and quotient***

In [7]:
num1=int(input("enter first num"))
num2=int(input("enter second num"))
print("Sum of two number:",num1+num2)
print("difference of two number:",num1-num2)
print("product of two number:",num1*num2)
print("division of two number:",num1/num2)
print("modulo of two numbers:",num1%num2)

enter first num10
enter second num20
Sum of two number: 30
difference of two number: -10
product of two number: 200
division of two number: 0.5
modulo of two numbers: 10

***Ask the user to enter two integers and one float.Convert them all to floats and print their average***

In [12]:
num1=int(input("enter first num"))
num2=int(input("enter second numb"))
num3=float(input("enter third num"))
print(float(num1))
print(float(num2))
print(float(num3))
print("average of three numbers:",(num1+num2+num3)/3)

enter first num12
enter second numb15
enter third num18
12.0
15.0
18.0
average of three numbers: 15.0

The user enters a string containing a number(e.g.,"45").convert it to:
. an integer
. a float
. a string again
print all three values with their types

In [26]:
text=input("enter a string containing number:")
int_value=int(text)
float_value=float(text)
str_value=str(text)
print(int_value,type(int_value))
print(float_value,type(float_value))
print(str_value,type(str_value))

enter a string containing number:45
45 <class 'int'>
45.0 <class 'float'>
45 <class 'str'>

Q5. evaluate and print the result of the following expression:
x=10+3*2**2

In [27]:
x=10+3*2**2
print(x)

22

***Write a program to swap values of two numbers entered by the user***

In [35]:
#easy method using a temporary variable
a=int(input("enter first number:"))
b=int(input("enter second number:"))
temp=a
a=b
b=temp
print(a,b)

#without temperoray variable,addition and substraction
a=int(input("enter first number:"))
b=int(input("enter second number:"))
a=a+b
b=a-b
a=a-b
print(a,b)

#using multiplication and division
a=int(input("enter first number:"))
b=int(input("enter second number:"))
a=a*b
b=a//b
a=a//b
print(a,b)

enter first number:5
enter second number:10
10 5
enter first number:3
enter second number:2
2 3
enter first number:4
enter second number:5
5 4

In [33]:
a=50
b=8
print(a//b)

6

**Ask the user to temperature in celsius(string input). convert it to float,than calculate and print the temperature in farenheit**

In [36]:
temperature=input("enter temperature in celsius:")
temperature=float(temperature)
farenheit=(temperature*(9/5))+32
print("faremheit is:",farenheit)

enter temperature in celsius:24
faremheit is: 75.2

***Q8. take the radious(r) as user input and print the area***

In [37]:
r=int(input("enter the radius"))
Area=3.14*r*r
print("Area of radius is:",Area)

enter the radius5
Area of radius is: 78.5

***Q9. Ask the user for:principle(p),rate(r),time(t),. convert all to float and compute simple interest***

In [39]:
principle=int(input("enter the principle:"))
rate=int(input("enter the rate:"))
time=int(input("enter the time:"))
principle=float(principle)
rate=float(rate)
time=float(time)
si=(principle*rate*time)/100
print("simple interest is:",si)

enter the principle:50000
enter the rate:4
enter the time:3
simple interest is: 6000.0

Q10.take a decimal number as input(like 45.68) and output is:
->integer part=45
->decimal par= .68

In [42]:
num=float(input("enter a decimal number:"))
integer_part=int(num)
fractional_part=num-integer_part
print("integer part:",integer_part)
print("fractional part:",fractional_part)

enter a decimal number:45.68
integer part: 45
fractional part: 0.6799999999999997